.donate-image {
    background-image: url(images/donation6.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;

}

.style {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}



.donate-text {

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-bottom: 15%;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    border-radius: 2%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
}

.view-button {
    text-align: center;
    padding-top: 5%;
}

.container {
    display: flex;
    text-align: center;
    margin-left: 35%;
    justify-content: space-around;
    margin-right: 30%;
    height: 2%;
    color: gray;
    font-weight: lighter;
}

.box {
    box-shadow: whitesmoke;
    display: block;
    border: 1px solid red;
    width: 100px;
    background-color: rgb(243, 187, 187);
}

.half-width {
    width: 50%;
    justify-content: space-between;
    display: block;
    padding: 4%;
    margin-right: 2%;
    background-color: rgb(213, 235, 235);
    background-image: url(a382ed0399433ca45742cfcb60c3691e--school-icon-icon-png.jpg);
    background-repeat: no-repeat;
    background-size: 50px;
}

.full-width {
    width: 50%;
    justify-content: space-between;
    display: block;
    padding: 4%;
    background-color: rgb(168, 237, 237);
    margin-left: 2%;
    background-image: url(263-2632565_open-healthy-food-icon-png.png);
    background-repeat: no-repeat;
    background-size: 50px;
}

.main-width {
    width: 50%;
    justify-content: space-between;
    display: block;
    padding: 4%;
    background-color: rgb(192, 235, 220);
    background-image: url(3027435.png);
    background-repeat: no-repeat;
    background-size: 50px;
}

h6 {
    color: rgb(193, 176, 176);
    padding-top: 5%;
}

.section {
    display: flex;
    margin-left: 10%;
    position: absolute;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-right: 6%;
    border-radius: 2%;
}



.input {
    text-align: center;
    margin: 2%;
    margin-left: 6%;
}